name: truckmitr_phase2
description: TMMatch-making - Job Matchmaking & Smart Calling System
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  intl: ^0.18.1
  url_launcher: ^6.2.2
  lucide_icons: ^0.257.0
  http: ^1.1.0
  shared_preferences: ^2.2.2
  file_picker: ^8.0.0+1
  path: ^1.8.3
  animated_bottom_navigation_bar: ^1.3.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
    - assets/lottie/
